<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hello, we have a new thread assigned to you:
      <%= link_to @article.subject, @article.url %>
      <br/>
      <br/>
      To see your assigned tickets, go to http://ec2-174-129-158-168.compute-1.amazonaws.com:3000/
    </p>

  </body>
</html>
