<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>New Thread</h3>
    <p>
      <%= link_to @thread, @thread %>
    </p>
  </body>
</html>
