<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Thread<h1>
    <p>
      <%= @thread =>
    </p>
  </body>
</html>
