<div id="login-controls">
  <div class="user-right">
    <ul class="ajs-menu-bar" id="header-menu-bar">
      <li>(866) 237-8815</li>
    </ul>
  </div>
</div>
<div id="doc2">

  <div id="hd">
    <div id="logo-10gen">
      <a href="/"><img src="/images/logo_10gen.png" width="95" height="45" alt="10gen"/></a>
    </div>

<!--
    <div id="nav">
      <ul>
        <li class="current">
          <a href="/">home</a>
        </li>

        <li>
          <a href="/dasboard/index">dashboard</a>
        </li>
      </ul>
    </div>
-->

    <div id="logo-mongodb">
      <a href="http://mongodb.org"><img src="/images/mongodb.png"></a>
    </div>
  </div>
</div>